html {
  background-color: #f1f5f9;
  font-family: monospace;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 150ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

p {
  font-size: 16px;
}

a {
  color: #fff;
  font-size: 1.5em;
}


.button-34 {
  background: #074799;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

html.dark {
  background-color: #001A6E;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .social-icon {
  fill: #ffffff;
}

.dark .icon-link a {
  color: #fff;
}

/* nav styles */

.social-icon {
  fill: #6b7280;
  /* Default color when light theme */
  transition: color 0.3s ease;
}

.nav-links {
  width: 100%;
  top: 5rem;
  background-color: #009990;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links-inside {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #000000;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: #009990;
  color: #fff;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}